.container {
    display: grid;
    --grid-size: 0;
    grid-template-columns: repeat(var(--grid-size), auto);
    /*height: 98vh;*/
    max-height: 500px;
    max-width: 500px;
    /*margin: 20rem;
    margin-top: auto;
    margin-bottom: auto;*/
}

.container > div {
    border: 1px solid #000000;
    text-align: center;
}

.container > div::before {
    display: block;
    padding-bottom: 100%;
    content: "";
}