.container {
    display: grid;
    --grid-size: 0;
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-template-columns: repeat(var(--grid-size), 1fr);
    margin: 20rem;
    margin-top: auto;
    margin-bottom: auto;
}

.container > div {
    border: 1px solid #000000;
    text-align: center;
}

.container > div::before {
    display: block;
    padding-top: 100%;
    content: "";
}

/* TODO: Fit grid to screen


/*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }*/