.container {
    display: grid;
    --grid-size: 0;
    grid-template-columns: repeat(var(--grid-size), auto);
    /* TODO: Fit grid to screen
    /*margin: 20rem;
    margin-top: auto;
    margin-bottom: auto;*/
}

.container > div {
    border: 1px solid #000000;
    text-align: center;
}

.container > div::before {
    display: block;
    padding-top: 100%;
    content: "";
}